/* .nav_container {
  margin-right: 0px;
}

.nav_link {
  margin-right: 20px;
  color: black;
}

.nav_link_active {
  color: red;
} */

.nav_link {
  display: block;
  padding: 0.5rem 1rem;
  color: red;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
